<launch>
    <arg name="platform" default="1.0" />
    <arg name="bond_id_namespace" default="safety_bonds" />

    <node pkg="iarc7_vision" type="iarc7_vision_node" name="iarc7_vision_node">

        <rosparam command="load"
            file="$(find iarc7_vision)/param/vision_node_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/line_detector_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/optical_flow_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/distortion_model_$(arg platform).yaml" />

        <remap from="grid_line_estimator/pose" to="/camera_localized_pose" />
        <remap from="bottom_image_raw/image_raw" to="/bottom_camera/rgb/image_raw" />
    </node>

    <param name="$(arg bond_id_namespace)/vision_node/form_bond"
        value="true" />

    <node pkg="iarc7_vision"
        type="republish_roomba_detections.py"
        name="republish_roomba_detections" />
</launch>
