<launch>
    <arg name="platform" default="sim" />

    <node pkg="iarc7_vision" type="iarc7_vision_node" name="iarc7_vision_node" launch-prefix="gdb --args">

        <rosparam command="load"
            file="$(find iarc7_vision)/param/vision_node_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/line_detector_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/optical_flow_params_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/distortion_model_$(arg platform).yaml" />
        <rosparam command="load"
            file="$(find iarc7_vision)/param/color_correction_model_$(arg platform).yaml" />

        <remap from="grid_estimator/pose" to="/camera_localized_pose" />
        <remap from="bottom_image_raw/image_raw" to="/bottom_camera/rgb/image_raw" />
    </node>

    <node pkg="iarc7_vision"
        type="republish_roomba_detections.py"
        name="republish_roomba_detections" />
</launch>
